[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
requests = "*"
numpy = "*"
aiohttp = "*"
pympler = "*"
ipykernel = "*"
ephem = "*"
matplotlib = "*"
pydantic = "*"
pipenv = "*"
asyncpg = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
